.venv/
ee-gcc2.95.2-SN-v2.73a.tar.gz
src/games/tools/cc/*

src/games/assets/dl/*
src/games/assets/uya/*
src/games/assets/gc/*
src/games/assets/rac/*

src/games/rac/code/asm/
src/games/gc/code/asm/
src/games/uya/code/asm/
src/games/dl/code/asm/

src/games/rac/config/*.rom
src/games/gc/config/*.rom
src/games/uya/config/*.rom
src/games/dl/config/*.rom

src/games/rac/config/*.ld
src/games/gc/config/*.ld
src/games/uya/config/*.ld
src/games/dl/config/*.ld

disc/
build/

ctx.c

userconfig*
!*.template.mk