*.iso
*.elf
ctx.c

.venv/
disc/
build/

ee-gcc2.95.2-SN-v2.73a.tar.gz
src/games/tools/cc/*

src/games/assets/rac/*
src/games/assets/gc/*
src/games/assets/uya/*
src/games/assets/dl/*
!src/games/assets/rac/.gitkeep
!src/games/assets/gc/.gitkeep
!src/games/assets/uya/.gitkeep
!src/games/assets/dl/.gitkeep

src/games/rac/code/asm/
src/games/gc/code/asm/
src/games/uya/code/asm/
src/games/dl/code/asm/

src/games/rac/config/*.rom
src/games/gc/config/*.rom
src/games/uya/config/*.rom
src/games/dl/config/*.rom

src/games/rac/config/*.d
src/games/gc/config/*.d
src/games/uya/config/*.d
src/games/dl/config/*.d

src/games/rac/config/*.ld
src/games/gc/config/*.ld
src/games/uya/config/*.ld
src/games/dl/config/*.ld

src/games/rac/include/
src/games/gc/include/
src/games/uya/include/
src/games/dl/include/

src/games/rac/assets/
src/games/gc/assets/
src/games/uya/assets/
src/games/dl/assets/
